<h1>Welcome to Scrabble Score!</h1>
<form action="/score">
  <div class="form-group">
     <label for="title">Input a word and find out the Scrabble Score!
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Calculate</button>
</form>
